---
import Default from "@/layouts/default.astro";
import { Button } from "@/components/ui/button";
---

<Default title="sidneysilva.me - About me">
  <div class="flex flex-col gap-3">
    <h1 class="text-4xl">About me</h1>
    <p class="font-light text-lg dark:text-neutral-300">
      A Software developer with a desire to do big things, try new technologies
      and experiment. Knowledge in frontend development and data science.
      Learning by myself with the help of YouTube videos, Codecademy and books.
      I also have a Medium degree in "Técnico en Sistemas Microinformáticos y
      Redes".
    </p>
  </div>
  <div class="flex flex-col gap-3 mt-6">
    <h1 class="text-4xl">Links</h1>
    <p class="font-light text-lg dark:text-neutral-300">
      You can follow me and see my work with the following links:
    </p>
    <ul class="font-light text-lg dark:text-neutral-300 list-disc px-7 py-1">
      <li>
        Github:
        <a href="https://github.com/sxdny
            ">
          <Button
            className="p-0 text-lg underline dark:hover:text-lime-300 hover:text-lime-600  cursor-pointer"
            variant="link">@sxdny</Button
          >
        </a>
      </li>
      <li>
        Instagram:
        <a href="https://www.instagram.com/sidney_sbo/
            ">
          <Button
            className="p-0 text-lg underline dark:hover:text-lime-300 hover:text-lime-600  cursor-pointer"
            variant="link">@sidney_sbo</Button
          >
        </a>
      </li>
      <li>
        X / Twitter:
        <a href="https://x.com/SidneySilvaBra1
            ">
          <Button
            className="p-0 text-lg underline dark:hover:text-lime-300 hover:text-lime-600  cursor-pointer"
            variant="link">@SidneySilvaBra1</Button
          >
        </a>
      </li>
    </ul>
  </div>
</Default>
