---
import "../styles/global.css";
import DarkModeToggle from "@/components/darkModeToggle";
import Navbar from "@/components/navbar.astro";
import { Button } from "@/components/ui/button";
---

<script>
  let darkMode = localStorage.getItem("dark");

  if (darkMode == null) {
    localStorage.setItem("dark", "false");
    darkMode = "false";
  }

  let bodyElement = document.getElementsByTagName("body");

  if (darkMode?.toLowerCase() === "true") {
    bodyElement[0].classList.add("dark");
  } else {
    bodyElement[0].classList.remove("dark");
  }

  console.log(darkMode);
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>sidneysilva.me - About me</title>
  </head>

  <body class="flex flex-col items-center">
    <Navbar>
      <DarkModeToggle client:only />
    </Navbar>
    <main class="max-w-4xl p-8 w-full flex flex-col gap-8 tracking-normal">
      <div class="flex flex-col gap-3">
        <h1 class="text-2xl font-semibold">About me</h1>
        <p class="text-lg dark:text-neutral-300">
          A Software developer with a desire to do big things, try new
          technologies and experiment. Knowledge in frontend development and
          data science. Learning by myself with the help of YouTube videos,
          Codecademy and books. I also have a Medium degree in "Técnico en
          Sistemas Microinformáticos y Redes".
        </p>
      </div>
      <div class="flex flex-col gap-3">
        <h1 class="text-2xl font-semibold">Links</h1>
        <p class="text-lg dark:text-neutral-300">
          You can follow me and see my work with the following links:
        </p>
        <ul class="text-lg dark:text-neutral-300 list-disc px-7 py-1">
          <li>
            Github:
            <a href="https://github.com/sxdny
            ">
              <Button
                className="p-0 text-lg underline dark:hover:text-lime-300 hover:text-lime-600  cursor-pointer"
                variant="link">@sxdny</Button
              >
            </a>
          </li>
          <li>
            Instagram:
            <a href="https://www.instagram.com/sidney_sbo/
            ">
              <Button
                className="p-0 text-lg underline dark:hover:text-lime-300 hover:text-lime-600  cursor-pointer"
                variant="link">@sidney_sbo</Button
              >
            </a>
          </li>
          <li>
            X / Twitter:
            <a href="https://x.com/SidneySilvaBra1
            ">
              <Button
                className="p-0 text-lg underline dark:hover:text-lime-300 hover:text-lime-600  cursor-pointer"
                variant="link">@SidneySilvaBra1</Button
              >
            </a>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
