---
import Default from "@/layouts/default.astro";
import ProjectsView from "@/components/projects-view.astro";
import PostsView from "@/components/posts-view.astro"
import TagsView from "@/components/tags-view.astro";
---

<Default title="sidneysilva.me">
  <div class="flex flex-col gap-8">
    <PostsView />
    <ProjectsView />
    <TagsView />
  </div>
</Default>
