<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>sidneysilva.me</title>
    </head>
    <body>
        <main class="m-5 flex flex-col">
            <header>
                <h1 class="text-xl font-mono">sidneysilva.me</h1>
                <p >My persobal website.</p>
            </header>
        </main>
    </body>
</html>
