---
import Default from "@/layouts/default.astro";
import TagsView from "@/components/tags-view.astro";
---

<Default title="sidneysilva.me">
  <div class="flex flex-col gap-8">
    <TagsView />
  </div>
</Default>
