---
import { Button } from "@/components/ui/button";
---

<nav class="flex justify-between items-center max-w-4xl w-full p-5">
  <Button className="text-xl" variant="link">sidneysilva.me</Button>

  <ul class="flex items-center">
    <li><Button variant="link">About me</Button></li>
    <li><Button variant="link">Projects</Button></li>
    <li><slot/></li>
  </ul>
</nav>
