---
import { Button } from "@/components/ui/button";
---

<nav class="flex fixed justify-center items-center w-full bg-background">
    <div
        class="max-w-4xl w-full flex border-neutral-100 backdrop-blur-md dark:border-neutral-900 justify-between rounded-xl py-8 px-5"
    >
        <a href="/">
            <Button className="font-medium text-2xl" variant="link">ssbo/</Button
            >
        </a>

        <ul class="flex items-center text-sm gap-3">
            <li>
                <a href="/aboutme">
                    <Button asChild variant="link">About me</Button></a
                >
            </li>
            <li><slot /></li>
        </ul>
    </div>
</nav>
