---
import { Button } from "./ui/button";
import { projects_list } from "../lib/projects";
import ShowProject from "@/components/project";
---

<div class="flex flex-col gap-4">
    <h1 class="text-4xl">Projects</h1>
    <ul class="font-light text-lg dark:text-neutral-300 list-disc">
        {projects_list.map((project) => <ShowProject project={project} />)}
    </ul>
</div>
