---
import "../styles/global.css";
import DarkModeToggle from "@/components/darkModeToggle";
import Navbar from "@/components/navbar.astro";

let { title } = Astro.props;
---

<script>
  let darkMode = localStorage.getItem("dark");

  if (darkMode == null) {
    localStorage.setItem("dark", "false");
    darkMode = "false";
  }

  let bodyElement = document.getElementsByTagName("body");

  if (darkMode?.toLowerCase() === "true") {
    bodyElement[0].classList.add("dark");
  } else {
    bodyElement[0].classList.remove("dark");
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css">
    <title>{title}</title>
  </head>

  <body class="flex flex-col items-center">
    <Navbar>
      <DarkModeToggle client:only />
    </Navbar>
    <main class="mt-28 max-w-4xl p-8 w-full">
      <slot />
    </main>
  </body>
</html>
